body {
    background:url(../images/landing_plane.jpg);
    font-family:'PT Sans',Helvetica, Arial, sans-serif;
    color:#fff;
       background-repeat: no-repeat;
       background-size:cover;
    }
    
    .page-container {
    margin: 120px auto 0 auto;
    }
    .title{
       position: relative;
       left:50%;
       top:50%;
    }